@namespace svg "http://www.w3.org/2000/svg";

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
}

svg|svg {
    min-height: 80%;
    min-width: 100%;
}

input[type=color] {
    border: none;
    background: none;
}