<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
        var head = document.getElementsByTagName('head')[0];
        document.write('<base href="' + (/github\.io\/angular-unleashed/.test(window.location.href) ?
                        '/angular-unleashed/index.html' :
                        '/index.html') + '">');
        </script>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="Caitlin Potter">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
        <script src="third_party/reveal.js/lib/js/head.min.js"></script>
        <script src="third_party/reveal.js/js/reveal.js"></script>
        <link rel="stylesheet" href="third_party/reveal.js/css/reveal.css">
        <link rel="stylesheet" href="third_party/reveal.js/css/theme/default.css">
        <link rel="stylesheet" href="third_party/reveal.js/lib/css/zenburn.css">
        <link rel="stylesheet" href="css/presentation.css">
        <!-- Include the appropriate print stylesheet -->
        <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ?
            'third_party/reveal.js/css/print/pdf.css' :
            'third_party/reveal.js/css/print/paper.css';
        link.media = 'print';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>
        <!--[if lt IE 9]>
        <script src="third_party/reveal.js/lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section>
                    <!-- INTRO -->
                    <section>
                        <h1>AngularJS 1.3</h1>

                        <p class="fragment">Between July 1st and August 29th:</p>
                        <ul>
                            <li class="fragment">56 performance improvements
                            <li class="fragment">74 new features
                            <li class="fragment">9 new developer tools
                            <li class="fragment">716 documentation improvements ❤
                        </ul>
                    </section>
                </section>

                <section>
                    <!-- Performance Tuning -->
                    <section>
                        <h1>Performance</h1>
                        <p class="fragment">Bottlenecks:</p>
                        <ul>
                            <li class="fragment">Dirty-checking / Scope Events
                            <li class="fragment">DOM manipulation causing reflows
                            <li class="fragment">Initial compilation of markup
                            <li class="fragment">$interpolate, $parse, jqLite, directives...
                        </ul>
                    </section>

                    <section>
                        <h1>Performance</h1>
                        <p>Scopes have been enhanced in a few ways</p>
                        <ul>
                            <li class="fragment">New ::bind-once expressions
                            <li class="fragment">Under the hood improvements to core algorithms
                            <li class="fragment">Shrink the data-set and spend less time churning when $digest is called.
                        </ul>
                    </section>

                    <section>
                        <h1>Performance</h1>
                        <p>Benchmarks! largetable (1000rows, 20columns interpolated)</p>
                        <p class="fragment">~35% improved init time (vs v1.2.23)
                        <p class="fragment">5x faster on update (vs v1.2.23)
                        <p class="fragment">Significant (300%) less memory.
                    </section>

                    <section>
                        <h1>Performance</h1>
                        <table>
                            <tr>
                                <th class="fragment" data-fragment-index="1">v1.2.23</th>
                                <th class="fragment" data-fragment-index="2">v1.3.0-beta.19</th>
                            </tr>
                            <tr>
                                <td class="fragment" data-fragment-index="1"><img src="assets/v1.2.23.png"></td>
                                <td class="fragment" data-fragment-index="2"><img src="assets/v1.3.0-beta.19.png"></td>
                            </tr>
                        </table>
                    </section>
                </section>

                <section>
                    <!-- New features -->
                    <section>
                        <h1>New Features</h1>
                        <ul>
                            <li class="fragment">One-time binding
                            <li class="fragment">More modern Promise implementation
                            <li class="fragment">Support for input[type=date]
                            <li class="fragment">Asynchonous validators
                            <li class="fragment">SVG as a first-class citizen
                            <li class="fragment">Long-awaited support for jQuery 2.x
                        </ul>
                    </section>

                    <section>
                        <h2>One-time binding</h2>
                        <pre>
                            <code class="html" style="font-size: 18pt;">
    <div ng-repeat="row in rows" class="row">
        <div ng-repeat="col in row" class="col">
            Column {{$parent.$index}}x{{$index}}
        </div>
    </div>
                            </code>
                        </pre>
                        <p class="fragment">Dirty checking watches for:</p>
                        <ul>
                            <li class="fragment">Changes to "rows" collection as a whole
                            <li class="fragment">Changes to each individual "row" collection
                            <li class="fragment">Changes to each individual column value
                        </ul><br>
                        <strong class="fragment">**SLOW**</strong>
                    </section>

                    <section>
                        <h2>One-time binding</h2>
                        <pre>
                            <code class="html" style="font-size: 18pt;">
    // Bind-once with "::"-prefix:
    <div ng-repeat="row in ::rows" class="row">
        <div ng-repeat="col in ::row" class="col">
            Column {{::$parent.$index}}x{{::$index}}
        </div>
    </div>
                            </code>
                        </pre>
                        <ul>
                            <li class="fragment">Stop watching expression once value is defined.
                            <li class="fragment">Significant load off of change detectors back
                            <li class="fragment">Spend more time doing interesting things
                        </ul>
                    </section>

                    <section>
                        <h2>SVG-tastic apps</h2>
                        <iframe src="svg.html" scrolling="no"></iframe>
                    </section>

                    <section>
                        <h2>New form coolness</h2>
                        <iframe src="forms.html" scrolling="no"></iframe>
                    </section>
                </section>

                <section>
                    <!-- Developer tools -->
                    <section>
                    </section>
                </section>
                <div class="footer">
                    Slides: <a href="https://github.com/caitp/angular-unleashed">https://github.com/caitp/angular-unleashed</a>
                </div>
            </div>
        </div>
        <script src="js/presentation.js"></script>
    </body>
</html>
