<!DOCTYPE html>
<html ng-app="svgApp">
    <head>
        <script>
        var head = document.getElementsByTagName('head')[0];
        document.write('<base href="' + (/github\.io\/angular-unleashed/.test(window.location.href) ?
                        '/angular-unleashed/svg2.html' :
                        '/svg2.html') + '">');
        </script>
        <link rel="stylesheet" href="css/svg-demo.css">
        <script src="js/angular.js"></script>
        <script src="js/svgApp.js"></script>
    </head>
    <body ng-controller="artCtrl as art">
        <not-an-svg>
            <swiggle ng-repeat="node in art.makeNodes(art.nodes) track by $index"
                     n-path="art.makePath($index, art.nodes)"
                     ng-attr-fill="{{::art.mixFill($index)}}"
                     ng-attr-stroke="{{::art.mixFill($index)}}"
                     ng-attr-stroke-width="{{art.strokeWidth}}"></swiggle>
        </not-an-svg>
        <label>nodes<input type="range" ng-model="art.nodes" min="1" max="12"></label>
        <label>strokeWidth<input type="range" ng-model="art.strokeWidth" min="0" max="15" step="0.25"></label>
        <label>radius<input type="range" ng-model="art.radius" min="0" max="200" step="0.25"></label>
    </body>
</html>

